<%- include('header') -%>
<h1 id="h1">What is your ZIP code?</h1>
<form class="pure-form" id="zip-form">
    <fieldset>
        <input type="number" name="zip" id="zip" placeholder="12345" autofocus required>
        <input type="submit" class="pure-button pure-button-primary" value="Go">
    </fieldset>
    <script src="./main.js"></script>
</form>
<%- include('footer') -%>